scikit-learn
scikit-build
#opencv-python==4.5 #4.3.0.38
opencv-python-headless>=4.5
opencv-contrib-python
imagehash
pillow
numpy
seaborn
pysqlite3
ffmpeg-python
ipp
zstandard
z3-solver
psutil
